body {
  background-color: var(--primary);
}

h1 {
  font-weight: 400;
  font-size: var(--medium);
}

section#content {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 45px;
}

#content-box {
  width: 80%;
  margin-top: 48px;
}

#line {
  border: 1px solid var(--light);
  margin: 45px 0 35px;
  width: 100%;
}

form {
  width: 100%;
}

div#box-infos {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.input-container {
  width: 100%;
}

.input-container:nth-child(1) {
  padding-right: 5px;
}

.input-container:nth-child(2) {
  padding-left: 5px;
}

.input-container > input {
  width: -webkit-fill-available;
}

input[type="date"],
select {
  padding: 19px 25px !important;
}

select::-ms-expand {
  display: none;
  margin-right: 100px !important;
}

p {
  font-size: var(--small);
  margin-bottom: 14px;
}

textarea {
  background-color: transparent;
  border: 3px solid var(--light);
  border-radius: var(--radius-default);
  margin-top: 16px;

  color: var(--light);
  font-size: var(--small);
  padding: 20px;
  outline: none;
}

textarea::placeholder {
  color: var(--light-opaque);
}

#send-button {
  width: fit-content;
  padding: 20px;
  margin: 20px auto 0;
}

.input-profile {
  width: 100%;
}
